
<div class="backround">
<div class="container">
    
    <h2>Fiókom</h2>
    @if (isLoading) {
        <div class="loading-container">
          <p>Fiók betöltése...</p>
        </div>
      }
       @else if (user) {
    
    <div class="profile-header">
        <div class="avatar">{{ getUserInitials() }}</div>
        <div class="user-info">
            <div class="user-name">{{ user.name.firstname }} {{ user.name.lastname }}</div>
            <div class="user-email">{{ user.email }}</div>
        </div>
    </div>
    
    <h2>Időpontjaim</h2>
    <table mat-table [dataSource]="reservations" class="stats-table">
        <ng-container matColumnDef="datetime">
        <th mat-header-cell *matHeaderCellDef> Időpont </th>
        <td mat-cell *matCellDef="let element"> {{element.datetime}} </td>
        </ng-container>
    
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Szolgáltatás </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
    
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Ár </th>
          <td mat-cell *matCellDef="let element"> {{ element.price }} </td>
        </ng-container>
    
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Lemondás </th>
          <td mat-cell *matCellDef="let element"><a href="#" class="lemondas-link" (click)="delReservation(element.id); $event.preventDefault()">Lemondás</a>  </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    }
</div>
</div>
